<!DOCTYPE html>
<!-- hey. dont try to access admin pages. what the fuck do you think you're doing kid? -->
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width" />    
    <link href="/static/styles.css" rel="stylesheet">
    <link href="/static/favicon.ico" rel="icon" />   
    <title>Error</title>
    </head>
    <body class="error">
        <img src="https://http.cat/451"> <br>
        <a style="color: white; display: block; text-align: center;" href="/">Return Home</a>
    </body>
</html>